{% extends 'base.html.twig' %}

{% block title %}Создать новый блог{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Создать новый блог</h1>

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}

        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.category) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.status) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.participants) }}
            </div>
        </div>

        {{ include('_partials/file_upload_zone.html.twig', {'form': form}) }}

        <button type="submit" class="btn btn-primary">{{ button_label|default('Создать блог') }}</button>
        <a href="{{ path('blog_list') }}" class="btn btn-secondary">Отмена</a>
        {{ form_end(form) }}
    </div>
{% endblock %}