{% extends 'base.html.twig' %}

{% block title %}Добавить запись в блог{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h3>Добавить запись в блог "{{ blog.title }}"</h3>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}

                {{ include('_partials/file_upload_zone.html.twig', {'form': form}) }}

                <button type="submit" class="btn btn-primary">Добавить запись</button>
                <a href="{{ path('blog_show', {'id': blog.id}) }}" class="btn btn-secondary">Отмена</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}